html, body, #root {
    margin: 0;
    display: inline;
    justify-content: center;
    position: absolute;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: left;
}